{% extends "base.html" %} {% block title %} Add Note Form {% endblock %} {%
block content %}

<h1 class="display-4">Add Note Form</h1>
<p class="lead">Add Note for {{username}}</p>

<form method="POST">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <p>
    {{ field.label }} {{ field }} {% for error in field.errors %} {{ error }} {%
    endfor %}
  </p>
  {% endfor %}

  <button type="submit">Add Note</button>
</form>
<a href="/users/{{username}}" class="btn btn-primary">Cancel</a>

{% endblock %}
