{% extends "base.html" %} {% block title %} Register New User {% endblock %} {%
block content %}

{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}

<h1 class="display-4">Register</h1>
<p class="lead">Register for our site.</p>

<form method="POST">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <p>
    {{ field.label }} {{ field }} {% for error in field.errors %} {{ error }} {%
    endfor %}
  </p>
  {% endfor %}

  <button type="submit">Register</button>
</form>
<h4>Already a User?</h4>
<a class="btn btn-primary" href="/login">Login</a>

{% endblock %}
